
form.single-form {
  margin: 0 auto;
  width: 400px;
  border-radius: 30px;
  box-shadow: 0px 0px 10px 0px $wican-green;
  padding: 50px;
  label {
    display: block;
    margin: 20px 0;
    span {
      float: left;
      width: 45%;
      margin-right: 5%;
      text-align: right;
      height: 22px;
      line-height: 22px;
    }
    input {
      height: 22px;
      float: right;
      margin: 0;
      padding: 0;
      width: 50%;
      color: #333;
      font-size: 17px;
      outline: none;
      border: 0;
      border-bottom: 1px solid $wican-cyan;
    }
    &::after {
      clear: both;
      display: block;
      height: 0;
      content: "";
    }
  }
  .actions {
    margin-top: 40px;
    text-align: center;
    input {
      box-shadow: 0 0 2px 0 gray;
      border: 1px solid $wican-cyan;
      padding: 10px 20px;
      border-radius: 10px;
      transition: all 200ms ease-in;
      text-transform: uppercase;
      background: $wican-cyan;
      color: white;
      outline: none;
      &:hover {
        cursor: pointer;
        background: lighten($wican-cyan, 10%);
      }
      &:active {
        background: darken($wican-cyan, 10%);
      }
    }
  }
  .error {
    color: $wican-orange;
    text-align: center;
    width: 100%;
    display: block;
    clear: both;
    margin-top: 5px;
  }
}
